.item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.6rem 0;
}
.item p {
    flex: 1;
    margin: 0;
    color: #4b5563;
}
.item.completado p {
    text-decoration: line-through;
    color: #9ca3af;
}


.check {
    font-size: 0.9rem;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.2s ease;
}
.icono-basura {
  color: #aaa;       
  font-size: 20px; 
  cursor: pointer;
  transition: color 0.2s ease;
}

.icono-basura:hover {
  color: red;
}