body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(216, 216, 216) ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* #root {
   padding: 0;
  margin: 0;
  min-height: 100vh;
  background-image: url("../public/fondo-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1024px) {
  #root {
    background-image: url("/public/fondo-desktop.png");
    background-position: center center;
  }
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
} */