 h1 {
     border-bottom: 1px solid rgb(196, 190, 190);
     text-align: center;
     margin-left: 100px;
     margin-right: 100px;
     margin-bottom: 15px;
     color: gray;
     font-family: 'inter';
 }

 h3 {
     color: gray;
     font-family: 'inter';
   
     text-align: center;
     margin: 0;
     padding: 38px;
 }