.search-container {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  padding: 4px 8px;
  border-radius: 6px;
  transition: border-color 0.3s ease;
  width: 100%;
  max-width: 320px;
   margin: 0 auto;
}

.search-container:hover {
  border-color: #007bff;
}

.search-icon {
  margin-right: 6px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
}
