 h1 {
     border-bottom: 1px solid rgb(196, 190, 190);
     text-align: center;
     margin-left: 100px;
     margin-right: 100px;

     color: #374151;
     font-family: 'inter';
 }

 #tareas-completadas {
     color: #374151;
     font-family: 'inter';
     text-align: center;


 }

 h3 {
     display: inline-block;
     margin: 20px auto;
     padding: 10px 18px;

     color: #374151;
     font-family: 'inter';
     text-align: center;
     font-weight: 600;


 }